# Environment variables
.env

# Python cache files
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# IDE-specific files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Ignore Zone.Identifier files
*:Zone.Identifier