[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyodbc = "*"
bs4 = "*"
sqlalchemy = "*"
openmetadata-ingestion = {version = "==1.11.10.0"}
pandas = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.11"
