-i https://pypi.org/simple
agate==1.9.1
annotated-types==0.7.0; python_version >= '3.8'
antlr4-python3-runtime==4.9.2
anyio==4.12.0; python_version >= '3.9'
asn1crypto==1.5.1
attrs==25.4.0; python_version >= '3.9'
azure-core==1.38.0; python_version >= '3.9'
azure-identity==1.25.1; python_version >= '3.9'
azure-keyvault-secrets==4.10.0; python_version >= '3.9'
babel==2.17.0; python_version >= '3.8'
backports.tarfile==1.2.0; python_version >= '3.8'
beautifulsoup4==4.14.3; python_full_version >= '3.7.0'
boto3==1.42.21; python_version >= '3.9'
botocore==1.42.21; python_version >= '3.9'
bs4==0.0.2
cached-property==1.5.2
cachetools==6.2.4; python_version >= '3.9'
certifi==2026.1.4; python_version >= '3.7'
cffi==2.0.0; python_version >= '3.8'
chardet==4.0.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
charset-normalizer==3.4.4; python_version >= '3.7'
click==8.3.1; python_version >= '3.10'
collate-data-diff==0.11.8; python_full_version >= '3.8.0' and python_version < '4.0'
collate-sqlfluff==3.3.6; python_version >= '3.8'
collate-sqllineage==2.0.0; python_version >= '3.9'
colorama==0.4.6; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6'
cryptography==46.0.0; python_version >= '3.8' and python_full_version not in '3.9.0, 3.9.1'
daff==1.4.2
dbt-adapters==1.22.2; python_full_version >= '3.10.0'
dbt-common==1.37.2; python_version >= '3.10'
dbt-core==1.11.2; python_version >= '3.10'
dbt-extractor==0.6.0; python_version >= '3.9'
dbt-protos==1.0.410; python_version >= '3.6'
dbt-semantic-interfaces==0.10.3; python_version >= '3.8'
deepdiff==8.6.1; python_version >= '3.9'
diff-cover==10.2.0; python_version >= '3.10'
dnspython==2.8.0; python_version >= '3.10'
dsnparse==0.4.0
durationpy==0.10
email-validator==2.3.0; python_version >= '3.8'
filelock==3.20.3; python_version >= '3.10'
google-api-core[grpc]==2.28.1; python_version >= '3.7'
google-auth==2.45.0; python_version >= '3.7'
google-cloud-secret-manager==2.24.0; python_version >= '3.7'
google-crc32c==1.8.0; python_version >= '3.9'
googleapis-common-protos[grpc]==1.72.0; python_version >= '3.7'
greenlet==3.3.0; python_version >= '3.10'
grpc-google-iam-v1==0.14.3; python_version >= '3.7'
grpcio==1.76.0; python_version >= '3.9'
grpcio-status==1.76.0; python_version >= '3.9'
h11==0.16.0; python_version >= '3.8'
httpcore==1.0.9; python_version >= '3.8'
httpx==0.28.1; python_version >= '3.8'
idna==3.11; python_version >= '3.8'
importlib-metadata==8.7.1; python_version >= '3.9'
iniconfig==2.3.0; python_version >= '3.10'
isodate==0.7.2; python_version >= '3.7'
jaraco.classes==3.4.0; python_version >= '3.8'
jaraco.context==6.1.0; python_version >= '3.9'
jaraco.functools==4.1.0; python_version >= '3.8'
jeepney==0.9.0; python_version >= '3.7'
jinja2==3.1.6; python_version >= '3.7'
jmespath==1.0.1; python_version >= '3.7'
jsonpatch==1.33; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6'
jsonpointer==3.0.0; python_version >= '3.7'
jsonschema==4.25.1; python_version >= '3.9'
jsonschema-specifications==2025.9.1; python_version >= '3.9'
keyring==25.7.0; python_version >= '3.9'
kubernetes==34.1.0; python_version >= '3.6'
leather==0.4.1
markdown-it-py==4.0.0; python_version >= '3.10'
markupsafe==3.0.3; python_version >= '3.9'
mashumaro[msgpack]==3.10; python_version >= '3.8'
mdurl==0.1.2; python_version >= '3.7'
memory-profiler==0.61.0; python_version >= '3.5'
more-itertools==10.8.0; python_version >= '3.9'
msal==1.34.0; python_version >= '3.8'
msal-extensions==1.3.1; python_version >= '3.9'
msgpack==1.1.2; python_version >= '3.9'
mypy-extensions==1.1.0; python_version >= '3.8'
mysql-connector-python==9.5.0; python_version >= '3.10'
networkx==3.6.1; python_version >= '3.11' and python_full_version != '3.14.1'
numpy==2.4.1; python_version >= '3.11'
oauthlib==3.3.1; python_version >= '3.8'
openmetadata-ingestion==1.11.4.0; python_version >= '3.9'
ordered-set==4.1.0; python_version >= '3.7'
orderly-set==5.5.0; python_version >= '3.8'
packaging==25.0; python_version >= '3.8'
pandas==2.3.3; python_version >= '3.9'
parsedatetime==2.6
pathspec==0.12.1; python_version >= '3.8'
platformdirs==4.5.1; python_version >= '3.10'
pluggy==1.6.0; python_version >= '3.9'
proto-plus==1.27.0; python_version >= '3.7'
protobuf==6.33.2; python_version >= '3.9'
psutil==7.2.1; python_version >= '3.6'
pyasn1==0.6.2; python_version >= '3.8'
pyasn1-modules==0.4.2; python_version >= '3.8'
pycparser==2.23; python_version >= '3.8'
pydantic==2.11.10; python_version >= '3.9'
pydantic-core==2.33.2; python_version >= '3.9'
pydantic-settings==2.12.0; python_version >= '3.10'
pygments==2.19.2; python_version >= '3.8'
pyjwt[crypto]==2.10.1; python_version >= '3.9'
pymysql==1.1.2; python_version >= '3.8'
pyodbc==5.3.0; python_version >= '3.9'
python-dateutil==2.9.0.post0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2'
python-dotenv==1.2.1; python_version >= '3.9'
pytz==2025.2
pyyaml==6.0.3; python_version >= '3.8'
referencing==0.37.0; python_version >= '3.10'
regex==2025.11.3; python_version >= '3.9'
requests==2.32.5; python_version >= '3.9'
requests-aws4auth==1.3.1; python_version >= '3.7'
requests-oauthlib==2.0.0; python_version >= '3.4'
rich==14.2.0; python_full_version >= '3.8.0'
rpds-py==0.30.0; python_version >= '3.10'
rsa==4.9.1; python_version >= '3.6' and python_version < '4'
s3transfer==0.16.0; python_version >= '3.9'
secretstorage==3.5.0; python_version >= '3.10'
setuptools==78.1.1; python_version >= '3.9'
shapely==2.1.2; python_version >= '3.10'
six==1.17.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2'
soupsieve==2.8.1; python_version >= '3.9'
sqlalchemy==1.4.54; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
sqlglot==27.29.0; python_version >= '3.9'
sqlparse==0.5.5; python_version >= '3.8'
tabulate==0.9.0; python_version >= '3.7'
tblib==3.2.2; python_version >= '3.9'
text-unidecode==1.3
toml==0.10.2; python_version >= '2.6' and python_version not in '3.0, 3.1, 3.2'
tomlkit==0.13.3; python_version >= '3.8'
tqdm==4.67.1; python_version >= '3.7'
typing-extensions==4.15.0; python_version >= '3.9'
tzdata==2025.3; python_version >= '2'
